@page
@model BookListRazor.Pages.BookList.indexModel
@{
    ViewData["Title"] = "index";
}

<br/>
<div class="container row">
    <div class="col-sm-6">
        <span class="text-info" style="font-size:30px">Book List</span>
    </div>
    <div class="col-sm-6 text-right">
        <a asp-page="Creat" class="btn btn-primary">Creat New Book</a>
    </div>
</div>

